<div id="search" class="input-group mb-3">
	<input type="text" name="search" value="{{ search }}" placeholder="{{ text_placeholder }}" class="form-control input-lg">
	<div class="input-group-append">
		<button class="btn btn-outline-secondary" type="button" data-toggle="tooltip" data-placement="bottom" title="{{ text_search }}"><i class="fa fa-search"></i></button>
	</div>
 </div>